<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" href="img/logo.jpg">
    <link rel="stylesheet" href="/css/style.css">

    <title>Administrador</title>
</head>
<body>
    <script>
     swal("BIENVENID@!", "<%= Nombre%> <%= Apellido%>!", "success");
    </script>
    <header>
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo">
        </a>
        <div id="header">
            <ul class="nav">
                <li><a href="#" class="">Urna</a>
                    <ul>
                        <li><a href="/crearurna" class="">crear urnas</a></li>
                        <li><a href="/urna" class="">ver urnas</a></li>
                    </ul>
                </li>
                
                <li><a href="/foros" class="">Foros de discusion</a>
                    <ul>
                        <li><a href="/crearforo" class="">crear foros </a></li>
                        <li><a href="#" class="">ver foros</a></li>
                    </ul>
                </li>
                <li><a href="/noticias" class="">Noticias</a>
                    <ul>
                        <li><a href="/crearnoticia" class="">crear noticias</a></li>
                        <li><a href="/noticias" class="">ver noticias</a></li>
                    </ul>
                </li>
                <li><a href="#" class="">Integrante</a>
                    <ul>
                        <li><a href="/AgreInt" class="">crear integrante</a></li>
                        <li><a href="#" class="">ver integrante</a></li>
                    </ul>
                </li>
                <li><a href="#" class="">Partido</a>
                    <ul>
                        <li><a href="/crearpartido" class="">crear partido</a></li>
                        <li><a href="#" class="">ver partido</a></li>
                    </ul>
                </li>
                <li><a href="/" class="">Cerrar Sesion</a>
             </ul>
    </header>
   
    
</body>
</html>