<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="icon" href="img/logo.jpg">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">

    <title>Vista Administrador</title>
</head>
<body>
    <script>
     swal("BIENVENID@!", "<%= Nombre%> <%= Apellido%>!", "success");
    </script>
     
     <header>

        <div class="container__header">	

            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li><a href="#" class="">Urna</a>
                            <ul>
                                <li><a href="/crearurna" class="">crear urnas</a></li>
                         
                            </ul>
                        </li>
                        
                        <li><a href="/foros" class="">Foros</a>
                            <ul>
                                <li><a href="/crearforo" class="">crear foros </a></li>
                           
                            </ul>
                        </li>
                        <li><a href="/noticias" class="">Noticias</a>
                            <ul>
                                <li><a href="/crearnoticia" class="">crear noticias</a></li>
                                
                            </ul>
                        </li>
                        <li><a href="#" class="">Integrante</a>
                            <ul>
                                <li><a href="/AgreInt" class="">crear integrante</a></li>
                            
                            </ul>
                        </li>
                        <li><a href="#" class="">Partido</a>
                            <ul>
                                <li><a href="/crearpartido" class="">crear partido</a></li>
                             
                            </ul>
                        </li>
                        <li><a href="/" class="">Cerrar Sesion</a>
                       
                    </ul>
                </nav>
            </div>
            <i class="fa-solid fa-bars" id="icon_menu"></i>
            <div class="padre">
           
        </div>
        </div>

    </header>
<<<<<<< HEAD
    <div class="content-all">
        <div class="content-carrousel">
            <figure><img src="/media/img1.png"></figure>
            <figure><img src="/media/img2.png"></figure>
            <figure><img src="/media/img3.png"></figure>
            <figure><img src="/media/img4.jpg"></figure>
            <figure><img src="/media/img5.jpg"></figure>
            <figure><img src="/media/img6.jpeg"></figure>
            <figure><img src="/media/img7.jfif"></figure>
            <figure><img src="/media/img8.jfif"></figure>
            <figure><img src="/media/img9.jpg"></figure>
            <figure><img src="/media/img10.jfif"></figure>
        </div>
    </div>
  
=======

    
>>>>>>> fb3519a4059e2c25163c6cae451a854da2ba86cb
    
</body>
</html>