<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/perfil.css">
    <title>Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="header">
        <img class="avatar" src="img/usua.png">
        <h1 class="user_name">Javier</h1>
    </div>
    <ul class="socials">
        <li>
            <a href="">Nombre</a>
        </li>
        <li>
            <a href="">Apellido</a>
        </li>
        <li>
            <a href="">Correo</a>
        </li>
        <li>
            <a href="">Clave</a>
        </li>
    </ul>
    <div class="about">
        <h3 >Acerca de</h3>
        <p>Descripcion personal
        </p>
    </div>
</body>
</html>