<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/foros.css">
    <title>Foros</title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo">
        </a>
		<div id="header">
			<ul class="nav">
                <li> <a href="/contact" class="">Nosotros</a></li>
                <li>  <a href="/urna" class="">Urna</a></li>
                <li>  <a href="/partidos" class="">Partidos</a>
                    <ul>
                        <li class="op"><a href="/partidos" class="">info par</a></li>
                        <li class="op" ><a href="/partidos" class="">Submenu2</a></li>
                </ul>
                </li>
                <li>  <a href="/foros" class="">Foros de discusion</a></li>
                <li>  <a href="/noticias" class="">Noticias</a></li>
                <li> <a href="/login" class="">Login</a></li>
                <li>  <a href="/Registro" class="">Registrate</a></li>
                <li>  <a href="/AgreInt" class="">Agregar Integrantes</a></li>
                <li id="partidos"><a href=""></a>
            <nav>
              
                <!--<a href="/crearparti" class="">crearpartido</a>
                <a href="/crearforo" class="">crearforo</a>
                <a href="/crearurna" class="">crearurna</a>
                <a href="/admin" class="">Administrador</a>-->
                
            </nav>
    </header>
 
    <div class="contenedor">
        <div class="fonf">
            <a class="titu">FOROS DISPONIBLES</a>
        </div>
        <ul>
            <li class="opp"><a href="#">dato1</a></li>
            <li class="opp"><a href="#">dato1</a></li>
            <li class="opp"><a href="#">dato1</a></li>
            <li class="opp"><a href="#">dato1</a></li>
        </ul>
    </div>
  
</body>
</html>