<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espectador|politica Activa</title>
    <script src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/41bcea2ae3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    
    <header>

        <div class="container__header">	

            <div class="logo">
                <img src="/img/logo.png" alt="">
            </div>

            <div class="menu">
                <nav>
                    <ul>
                        <li ><a  href="/urnaespec">Urna</a></li>
                        <li><a href="/ForosEspec">Foros</a></li>
                        <li><a href="/NotiEspec">Noticias</a></li>
                        <li><a href="">Partidos</a>
                            <ul id="partidos">
        
                            </ul>
                        </li>
                        <li> <a href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
            <i class="fa-solid fa-bars" id="icon_menu"></i>
            <div class="padre">
            <div class="padre">
                <a href="/Registro" class="btn__header-register">Registrarse</a>
            </div>
        </div>
        </div>

    </header>

    <main>
        <script>
            let =url='/partidos'
            fetch(url)
            .then(Response=>Response.json())
            .then(data=>mostrarDatos(data))
            .catch(error=>console.log(error))
            const mostrarDatos=(data)=>{
            console.log(data)
            let body=''
            for(i=0; i<data.length;i++){
                body+=`
                    
                            <li><a href="/partidoespec/${data[i].IdPartido}">${data[i].NomPartido}</a></li>
                        
                                `
                        
    
            }
            document.getElementById('partidos').innerHTML=body
            console.log(body)
        }
        </script>

        <div class="cover">
            
            <div class="text__information-cover">
                <h1>Haga historia. No se limite a hacer parte de un cambio.</h1>

                <p>Vaya más allá de informar sobre datos históricos. Utilice la inteligencia procesable de cada
                    evento digital para impactar positivamente en los resultados actuales. Continuamente. En
                    tiempo real. A escala.</p>

                
            </div>

            <div class="media__cover">
                <video src="media/politicaactiva.mp4" autoplay playinline loop muted preload="auto"></video>
            </div>


        </div>

        <div class="container__banner">

            <div class="banner">
                <div class="banner__icon-heart">
                    <img src="media/galan.jpg" id="icon_heart" alt="">
                </div>
                <div class="banner__icon-fire">
                    <img src="media/Jaimito.jpeg" id="icon_fire" alt="">
                </div>
                <div class="banner__text">
                    <h2> “Si ustedes los jóvenes no asumen la dirección de su propio país, nadie va a venir a salvarlo. ¡Nadie!”.</h2>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        <div class="media__coverr">
            <video src="media/videogalan.mp4" autoplay playinline loop muted preload="auto"></video>
        </div>


    </main>

    <script src="/js/script.js"></script>
</body>
</html>