<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.jpg">
    <link rel="stylesheet" href="css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="container_form">
            <img src="img/logo.jpg" alt="esto es la imagen">
            <h2>Iniciar Sesion</h2>
            <form action="/Logine" method="post">
                <input type="text" placeholder="Usuario" name="Usuario">
                <input type="password" placeholder="Contraseña" name="Password">
                <input class="boton" type="submit" value="iniciar sesion">
            </form>
        </div>
    </div>
    
</body>
</html>