<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.jpg">
    <link rel="stylesheet" href="/css/style.css">

    <title></title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo">
        </a>
        <div id="header">
            <ul class="nav">
                <li><a href="#" class="">Urna</a>
                    <ul>
                        <li><a href="/crearurna" class="">crear urnas</a></li>
                        <li><a href="/urnaadmin" class="">ver urnas</a></li>
                    </ul>
                </li>
                
                <li><a href="/foros" class="">Foros de discusion</a>
                    <ul>
                        <li><a href="#" class="">crear foros </a></li>
                        <li><a href="#" class="">ver foros</a></li>
                    </ul>
                </li>
                <li><a href="/noticias" class="">Noticias</a>
                    <ul>
                        <li><a href="#" class="">crear noticias</a></li>
                        <li><a href="/noticias" class="">ver noticias</a></li>
                    </ul>
                </li>
                <li><a href="#" class="">Integrante</a>
                    <ul>
                        <li><a href="#" class="">crear integrante</a></li>
                        <li><a href="#" class="">ver integrante</a></li>
                    </ul>
                </li>
                <li><a href="#" class="">Partido</a>
                    <ul>
                        <li><a href="#" class="">crear partido</a></li>
                        <li><a href="" class="">ver partido</a></li>
                    </ul>
                </li>
             
    </header>
  
    <section class="nuestros-programas">
       
        <div class="container">
            
            <h2>Nooticias</h2>
            <div class="programas">
        <div class="carta">
            <h3>NOTICIA#1</h3>
           
            <form action="/Seccion">
                <button> +info</button>
            </form>
 
        </div>
        <div class="carta">
            <h3>NOTICIA#2</h3>
            
            <form action="/Seccion">
                <button >+info</button>
            </form>
          
        </div>
        <div class="carta">
            <h3>NOTICIA#3</h3>
            <form action="/Seccion">
                <button class="">+info</button>
            </form>
        </div>
   
    </div>
    </div>
    </section>

   
    <section id="final">
        <h2>Preparate</h2>
        <form action="#">
            <button>Registrate</button>
        </form>
   
    </section>

    <footer>
        <div class="container">
            <p>&copy; Politica Activa 2022</p>
        </div>
    </footer>
    
    
</body>
</html>