<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.jpg">
    <link rel="stylesheet" href="/css/partidos.css">

    <title></title>
</head>
<body>
    <header>
        <a href="#" class="logo">
            <img src="/img/logo.jpg" alt="logo">
        </a>
        <nav>
            <a href="/urna" class="">Urnas</a>
            <a href="/partidos" class="">Partidos</a>
            <a href="/foros" class="">Foros de discusion</a>
            <a href="/crearparti" class="">Crear Partido</a>
            <a href="/crearforo" class="">Crear Foros</a>
            <a href="/crearurna" class="">Crear Urnas</a>
            <a href="/cerrar" class="">Cerrar Sesion</a>
            
        </nav>
        </header>
  
    <section class="nuestros-programas">
       
        <div class="container">
            
            <h2>Partidos Politicos</h2>
            <div class="programas">
        <div class="carta">
            <h3>Partido Liberal Colombiano</h3>
           
            <form action="#">
                <button>+info</button>
                <button>Integrantes</button>
            </form>
 
        </div>
        <div class="carta">
            <h3>Partido Conservador</h3>
            
            <form action="#">
                <button>+info</button>
                <button>Integrantes</button>
            </form>
          
        </div>
        <div class="carta">
            <h3>Pacto historico</h3>
            <form action="#">
                <button class="">+info</button>
                <button class="">Integrantes</button>
            </form>
        </div>
   
    </div>
    </div>
    </section>

   
    <section id="final">
        <h2>Preparate</h2>
        <form action="#">
            <button>Registrate</button>
        </form>
   
    </section>

    <footer>
        <div class="container">
            <p>&copy; Politica Activa 2022</p>
        </div>
    </footer>
    
    
</body>
</html>